[submodule "addons/enterprise"]
	path = addons/enterprise
	url = git@github.com:ampsoftwaresl/enterprise.git
	branch = 17.0
[submodule "addons/extra-addons/asoo-tools"]
	path = addons/extra-addons/asoo-tools
	url = git@github.com:ampsoftwaresl/asoo-tools.git
	branch = 17.0
